
@{
    ViewBag.Title = "Ingreso no autorizado";
}

<br />
<div class="col-md-3"></div>
<div class="col-md-6 text-center">
    <h2>NO AUTORICE EL INGRESO</h2>
    <hr />

    <h4>Informe a SST.</h4>
    <h4>Mantenga a la persona aislada a más de 2 metros de cualquier persona.</h4>

    <br />

    <a href="@Url.Action("Index","Persona")" class="btn btn-info" role="button">Volver al inicio</a>
    <br /><br />
</div>
<div class="col-md-3"></div>

